{{#with showTravelById}}
<img src="" />
<h1>¡Esto es {{city}}!</h1>
<p>El precio de este viaje es de {{price}}€, con un {{discount}}% de descuento</p>
<p>El viaje seria de {{start}} y volveria el {{finish}}</p>
{{/with}}