
{{#with showTravelById}}
<img src="{{image}}" class="img-fluid max-width: 40% height: auto" />
<h1>¡Esto es {{city}}!</h1>
<p>El precio de este viaje es de {{price}}€, con un {{discount}}% de descuento</p>
<p>El viaje seria de {{start}} y volveria el {{finish}}</p>
{{/with}}